<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style-cart.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <%- include('./partials/header') %> 
    </header>
    <div class="headphone-image">
        <div class="shopping-cart">
           <h1 style="font-family: 'Times New Roman', Times, serif;">YOUR SHOPPING CART</h1>
           <p>
               <span>
                <a style="color:white" href="/" title="Back to the front page">Home</a>
               </span>
               / Your shopping cart
           </p>
        </div>
    </div>
    <!-- MAIN -->
    <div class="none-product d-none" id="none-product" style="margin:50px; overflow: hidden">
        <div class="container">
            <div class="main" style="padding: 50px 0; text-align: center;">
                <img src="//cdn.shopify.com/s/files/1/0437/0454/9536/t/26/assets/empty-cart.png?v=2503369804438330024" alt="">
                <h5>No Items in cart</h5>
                <p>Add items you want to shop</p>
                <p>
                    <a href="/catalog" class="btn">Start Shopping</a>
                </p>
            </div>
        </div>
    </div>
    
    <div class="product-list" id="have-product">
        <!-- <form action="" method="post"> -->
            <div class="cart-table">
                <table>
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 40%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" stlye="width: 10%;">
                    </colgroup>
                    </colgroup>
                    <tr>
                        <th>Select</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Remove</th>
                    </tr>
                    <% for (let i = 0; i < rows.length; i++){ %>
                        <tr align="center" id="<%= i + 200%>">
                            <% if (rows[i].CheckInCart == 'Y') { %> 
                                <td><input type="checkbox" class="checkbox" id="<%= i + 300 %>" onclick="checkFunc(<%= i %>)" checked></td>
                            <% } else {%> 
                                <td><input type="checkbox" class="checkbox" id="<%= i + 300 %>" onclick="checkFunc(<%= i %>)" ></td>
                            <% } %> 
                                <td>
                                <div class="cart-info">
                                    <a href="#" class="cart-image">
                                        <img src="<%= rows[i].thumbnail_photo%>">
                                    </a>
                                    <div class="cart-title">
                                        <a href="" class="product-name h6"><%= rows[i].ProductName %></a>
                                        <br>
                                        <small><%= rows[i].Color %> / <%= rows[i].Material %></small>
                                        <br>
                                        <p>Price: $<%= rows[i].Price %></p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <!-- cái này đúng ko sai đâu đừng xóa -->
                                <input type="button" value="-" class="button" onclick="minus(<%= i%>, <%= rows[i].Price%>)">
                                <input type="text" value="" name="quantityll" class="quantity" data-id="<%= rows[i].ProductID%>" id="<%= i%>" readonly="true">
                                <script>
                                    document.getElementById(<%= i%>).value = parseInt('<%= rows[i].NumProduct %>');
                                    if (document.getElementById(<%= i%> + 300).checked == false) {
                                        document.getElementById(<%= i%>).disabled = true;
                                    }
                                </script>
                                <!-- <div name="quantity" class="quantity" data-id="<%= rows[i].ProductID%>" id="<%= i%>"><%= rows[i].NumProduct %></div> -->
                                <input type="button" value="+" class="button" onclick="plus(<%= i%>, <%= rows[i].Price%>)">
                            </td>
                            <td><span id="<%= i + 100%>">$<%= subCost[i]%></span></td>
                            <td><a href="/my-cart" onclick="del(<%= i %>)" style="color: black;"><i class="fa fa-trash"></i></a></td>
                        </tr> 
                    <% } %>
                </table>
                <div class="btn-action">
                    <a class="btn" href="/catalog">Continue shopping</a>
                </div>
            </div>
            <div class="order-summary">
                <p class="title">Order summary</p>
                <p class="price">
                    <span class="sub-title h6">Subtotal:</span>
                    <span class="sub-total-money h6" id="totalCost">$<%= totalCost %></span>
                </p>
                <div class="cart-note">
                    <label for="CartSpecialInstructions" style="font-size: 17px;">Special instructions for seller</label>
                    <textarea name="note" class="input-note" id="CartSpecialInstructions"></textarea>
                </div>
                <p class="note">Shipping, taxes, and discounts will be calculated at checkout.</p>
                <div class="btn-action">
                    <a class="btn" href="/info">Proceed to checkout</a>
                    <!-- <input type="submit" class="btn" value="Proceed to checkout"> -->
                </div>
            </div>
        <!-- </form> -->
    </div>
    <!-- Btn function -->
    <script>
        var count;
        var value;
        var totalCost = parseInt('<%= totalCost%>');
        function plus(id, price){
            let tmpCost = parseInt(document.getElementById("totalCost").textContent.slice(1));
            count = ++document.getElementById(id).value;
            value = "$" + count*price;
            document.getElementById(id + 100).innerHTML = value;
            tmpCost += price;
            if (checked(id) == true) {
                // id + 100 is subtoTal
                // id + 200 is remove
                // id + 300 is checkbox
                document.getElementById("totalCost").innerHTML = "$" + tmpCost;
                // let nowTotalCost = totalCost - parseInt(document.getElementById(id + 100).textContent.slice(1));
                // document.getElementById("totalCost").innerHTML = "$" + nowTotalCost;
            }
            // update in database
            const idProduct = document.getElementsByClassName("quantity")[id].getAttribute("data-id");
            const countProduct = document.getElementsByClassName("quantity")[id].value;
            axios.patch('/my-cart/update', {
                    cartID: parseInt('<%= userInfo.cartid %>'),
                    id: idProduct,
                    quantity: countProduct,
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
            alert("Update successfully!");
        }
        function minus(id, price){
            if (document.getElementById(id).value > 1) {
                let tmpCost = parseInt(document.getElementById("totalCost").textContent.slice(1));
                count = --document.getElementById(id).value;
                value = "$" + count*price;
                document.getElementById(id + 100).innerHTML = value;
                tmpCost -= price;
                if (checked(id) == true) {
                    // id + 100 is subtoTal
                    // id + 200 is remove
                    // id + 300 is checkbox
                    document.getElementById("totalCost").innerHTML = "$" + tmpCost;
                    // var nowTotalCost = totalCost - parseInt(document.getElementById(id + 100).textContent.slice(1));
                    // document.getElementById("totalCost").innerHTML = "$" + nowTotalCost;
                }
                // update in database
                const idProduct = document.getElementsByClassName("quantity")[id].getAttribute("data-id");
                const countProduct = document.getElementsByClassName("quantity")[id].value;
                axios.patch('/my-cart/update', {
                    cartID: parseInt('<%= userInfo.cartid %>'),
                    id: idProduct,
                    quantity: countProduct,
                })
                .then(function (response) {
                    console.log(response);
                })
                .catch(function (error) {
                    console.log(error);
                });
                alert("Update successfully!");
            }   
        }
        function del(id) {
            console.log(id);
            document.getElementById(id + 200).classList.add("d-none");
            const idProduct = document.getElementsByClassName("quantity")[id].getAttribute("data-id");
            const cartID = parseInt('<%= userInfo.cartid %>');
            // const countProduct = document.getElementsByClassName("quantity")[id].textContent;
            axios.patch('/my-cart/delete', {
                    cartID: cartID,
                    productID: idProduct
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            });
            alert("Delete successfully!");
        }
        function checked(id) {
            var d = document.getElementById(id + 300) ;
            if (d.checked) {
                document.getElementById(id).disabled = false;
                return true;
            } else {
                document.getElementById(id).disabled = true;
                return false;
            }
        }
        function checkFunc(id) {
            let tmpCost = parseInt(document.getElementById("totalCost").textContent.slice(1));
            let state = 'Y';
            let productSubCost = parseInt(document.getElementById(id + 100).textContent.slice(1));
            console.log(productSubCost)
            const idProduct = document.getElementsByClassName("quantity")[id].getAttribute("data-id");
            if (checked(id) == true) {
                console.log("True");
                var nowCost = tmpCost + productSubCost;
                document.getElementById("totalCost").innerHTML = "$" + nowCost;
            }
            if (checked(id) == false) {
                state = 'N';
                var nowCost = tmpCost - productSubCost;
                document.getElementById("totalCost").innerHTML = "$" + nowCost;
            }
            axios.patch('/my-cart/update-state', {
                    cartID: parseInt('<%= userInfo.cartid %>'),
                    productID: idProduct,
                    state: state
            })
            .then(function(response){
                console.log(response);
            })
            .catch(function(error){
                console.log(error);
            })
            alert("Update successfully!");
        }
    </script>
    <!-- Btn function -->
    <!-- check if cart = 0 -->
    <script>
        var numOfProduct = parseInt('<%= rows.length %>');
        var check = '<%= checkUser %>';
        console.log(check)
        if (check.localeCompare('have_user') == 0) {
            if (numOfProduct == 0) {
                document.querySelector("#none-product").classList.remove("d-none")
                document.querySelector("#have-product").classList.add("d-none");
            }
        }
        else {
            document.querySelector("#none-product").classList.remove("d-none")
            document.querySelector("#have-product").classList.add("d-none");
        }
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <footer>
        <%- include('./partials/footer') %> 
    </footer>
</body>
</html>